.b-mega-menu {
    background-color: #EEEEEE;
    box-shadow: 0 20px 52px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 140px;
    left: 0;
    width: 100vw;
}
.b-mega-menu .b-mega-menu__section {
    padding-top: 20px;
    padding-left: 3%;
}
.b-mega-menu .b-mega-menu__bottom-line {
    border: solid;
    border-color: #3B7AAB;
    border-width: 10px 0 0 0;
}

.b-section__title,
.b-secondary-page__title {
    color: #3B7AAB;
    font-family: "Source Sans Pro";
}

.b-section .b-section__title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
    width: 350px;
}
.b-section .b-section__title a {
    text-decoration: none;
    color: #3B7AAB;
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.b-section .b-section__title a:hover {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
}
.b-section .b-section__title a i.fas {
    float: right;
}
.b-section .b-section__description {
    font-family: "Source Sans Pro";
    color: #4A4A4A;
    font-size: 12px;
    letter-spacing: 0.07px;
    line-height: 14px;
    margin-bottom: 20px;
}

.b-section__secondary-pages-list {
    list-style: none;
    padding: 0;
}
.b-section__secondary-pages-list .b-secondary-page__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
}
.b-section__secondary-pages-list .b-secondary-page__title a {
    text-decoration: none;
    color: #3B7AAB;
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.b-section__secondary-pages-list .b-secondary-page__title a:hover {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
}
.b-section__secondary-pages-list .b-secondary-page__title a i.fas {
    float: right;
}
.b-section__secondary-pages-list .b-secondary-page__description {
    color: #4A4A4A;
    border-top: 1px solid #979797;
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: 0.08px;
    line-height: 18px;
}

.b-mega-menu__image-section {
    max-height: 240px;
    overflow: hidden;
}
.b-mega-menu__image-section img {
    width: 70%;
    float: right;
}