.b-mega-menu-mobile {
    background-color: #EEEEEE;
}
.b-mega-menu-mobile .b-mega-menu-mobile__bottom-line {
    border: solid;
    border-color: #3B7AAB;
    border-width: 10px 0 0 0;
}

.js-shadow-box {
    box-shadow: 0 20px 52px 0 rgba(0, 0, 0, 0.5);
}

.b-mega-menu-mobile__section {
    background-color: #0971BD;
}
.b-mega-menu-mobile__section .b-section__title {
    padding-top: 12px;
}
.b-mega-menu-mobile__section .b-section__title button {
    width: 100%;
    color: white;
    background-color: #0971BD;
    border: none;
}
.b-mega-menu-mobile__section .b-section__title button:focus {
    border: none;
    outline: 0;
}
.b-mega-menu-mobile__section .b-section__title button span {
    float: left;
}
.b-mega-menu-mobile__section .b-section__title .fas {
    margin-top: 5px;
    float: right;
    color: white;
}

.b-mega-menu-mobile__secondary-pages {
    background-color: #EEEEEE;
}
.b-mega-menu-mobile__secondary-pages ul {
    list-style: none;
    padding: 0;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page:first-child {
    background-color: white;
    box-shadow: 0 20px 52px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page .b-secondary-page__title {
    color: #3B7AAB;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page .fas {
    color: #3B7AAB;
    float: right;
    margin-top: 80%;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page .b-secondary-page__description {
    color: #4A4A4A;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page a {
    text-decoration: none;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page a:hover {
    text-decoration: none;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page hr {
    border-bottom: 0.5px solid #4A4A4A;
    margin-bottom: unset;
}
.b-mega-menu-mobile__secondary-pages .b-secondary-page__bottom-line {
    border-bottom: 0.75px solid gray;
}