<!-- START Ohio Design / Content / Component Templates / Agencies / OPD / multiple-filters-template.hbs.html -->
<div class="b22-filter__first-section">
	<div class="b22-filter__title-container">
		<div>{{getMultilingualLabelByWCMKey ./filterTitleFirstSection}}</div>
		<span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
	</div>
	<div class="row b22-filter__input-container">
		{{#if eventFilter}}
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom-sm">
			<label for="b22-input-search" class="sr-only">Filter</label>
			<input id="b22-input-search" class="js-b22-input b22-filter__input-filter" type="text" placeholder="{{getMultilingualLabelByWCMKey ./inputPlaceholder}}">
			<button class="js-b22-filter-button b22-filter__input-filter-btn btn btn-primary">{{getMultilingualLabelByWCMKey ./filterButton}}</button><!-- Filter -->
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div id="{{eventFilter.id}}"></div>
		</div>
		{{else}}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-sm">
			<label for="b22-input-search" class="sr-only">Filter</label>
			<input id="b22-input-search" class="js-b22-input b22-filter__input-filter" type="text" placeholder="{{getMultilingualLabelByWCMKey ./inputPlaceholder}}">
			<button class="js-b22-filter-button b22-filter__input-filter-btn btn btn-primary">{{getMultilingualLabelByWCMKey ./filterButton}}</button><!-- Filter -->
		</div>
		{{/if}}
	</div>
	{{#if alphabeticalList}}
	<div id="b22-alphalist-container" class="row margin-bottom-sm">
		<div class="b22-alphalist__index-container js-b22-alphabet-container">
			<ul class="js-b22-indexes js-opd-alphabet-container b22-alphalist__alphabet">
				<li class="b22-alphalist__alphabet-list-title">
					<a href="#top" class="js-b22-alphabet-button-all js-opd-alphabet-button-all b22-alphalist-button-all">
						<span>All type </span><!--{{getMultilingualLabelByWCMKey ./allTypeIndexButton}} -->
					</a>
				</li>
				{{#each alphabeticalList}}
				<li>
					<a href data-target ="{{this}}" class="js-b22-alphabet-char">
						<span>{{this}}</span>
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</div>

<div class="b22-filter__second-section">
	<div class="b22-filter__categories-title">{{getMultilingualLabelByWCMKey ./filterTitleSecondSection}}</div><!-- Filter events -->
	<div id="b22-filter-taxonomies-container" class="row margin-bottom-sm componentContainer " style="">
		{{#each Filters}}
		<article id="{{propertyName}}" class="ohio-select2 col-lg-{{numColumns}} col-md-{{numColumns}} col-sm-12 col-xs-12">
			<label for="{{id}}">{{label}}</label>
			<select multiple="multiple" id="{{id}}">
				<option value="all" selected="selected">{{allLabel}}</option>
				{{#each options}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</article>
		{{/each}}
		{{#each sorting}}
		<article id="{{propertyName}}" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="b22-secondary-button-container">
				<button id="{{id}}" class="btn btn-secondary">Sort <i class="fas fa-sort-amount-down"></i></button>
			</div>
		</article>
		{{/each}}
		<!-- START Custom filter button: Add here your button for custom filter -->
		<!--
		<article class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="b22-secondary-button-container">
				<button id="sort-by-date" class="btn">Sort by date</button>
			</div>
		</article>
		-->
		<!-- END Custom filter button -->
	</div>
	<div class="row">
		<div class="b22-filter__results-number-container col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="js-b22-results-number b22-filter__results-number"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 b22-filter__reset-btn-container">
			<button class="js-b22-reset-button b22-filter__reset-btn btn">{{getMultilingualLabelByWCMKey ./resetFiltersButton}}</button><!-- Reset Filters -->
		</div>
	</div>
</div>
<div id="cards-generic-wrapper">

</div>
<!-- END Ohio Design / Content / Component Templates / Agencies / OPD / multiple-filters-template.hbs.html -->