<!-- START Ohio Design / Content / Component Templates / Agencies / OPD / multiple-filters-template.hbs.html -->
<div class="iop-filter__first-section-container">
	<div class="iop-filter__title-container">
		<div>Filter Title</div>
		<span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
	</div>
	<div class="row iop-filter__input-container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-sm">
			<label for="iop-input-search" class="sr-only">Filter</label>
			<input id="iop-input-search" class="iop-filter__input-filter" type="text" placeholder="Search by keyboard...">
			<button class="iop-filter__input-filter-btn btn btn-primary">Filter</button>
		</div>
	</div>
</div>

<div class="iop-filter__second-section-container">
	<div class="iop-filter__categories-title">Filter Events</div>
	<div id="iop-filter-filters-container" class="row margin-bottom-sm componentContainer " style="">
		{{#each Filters}}
		<article id="{{propertyName}}" class="ohio-select2 col-lg-{{numColumns}} col-md-{{numColumns}} col-sm-12 col-xs-12">
			<select multiple="multiple" id="{{id}}">
				<option value="all" selected="selected">{{allLabel}}</option>
				{{#each options}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</article>
		{{/each}}
	</div>
</div>
<!-- END Ohio Design / Content / Component Templates / Agencies / OPD / multiple-filters-template.hbs.html -->