<!-- START Ohio Design / Content / Component Templates / Agencies / OPD / multiple-filters-template.hbs.html -->
<div class="iop-filter__first-section-container">
	<div class="iop-filter__title-container">
		<div>Filter Title</div>
		<span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
	</div>
	<div class="row iop-filter__input-container">
		{{#if eventFilter}}
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom-sm">
				<label for="iop-input-search" class="sr-only">Filter</label>
				<input id="iop-input-search" class="iop-filter__input-filter" type="text" placeholder="Search by keyboard...">
				<button class="iop-filter__input-filter-btn btn btn-primary">Filter</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div id="{{eventFilter.id}}"></div>
			</div>
		{{else}}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-sm">
			<label for="iop-input-search" class="sr-only">Filter</label>
			<input id="iop-input-search" class="iop-filter__input-filter" type="text" placeholder="Search by keyboard...">
			<button class="iop-filter__input-filter-btn btn btn-primary">Filter</button>
		</div>
		{{/if}}
	</div>
</div>

<div class="iop-filter__second-section-container">
	<div class="iop-filter__categories-title">Filter Events</div>
	<div id="iop-filter-filters-container" class="row margin-bottom-sm componentContainer " style="">
		{{#each Filters}}
		<article id="{{propertyName}}" class="ohio-select2 col-lg-{{numColumns}} col-md-{{numColumns}} col-sm-12 col-xs-12">
			<select multiple="multiple" id="{{id}}">
				<option value="all" selected="selected">{{allLabel}}</option>
				{{#each options}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</article>
		{{/each}}
		{{#each sorting}}
		<article id="{{propertyName}}" class="ohio-select2 col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<button id="{{id}}" class="btn btn-secondary">Sort DESC</button>
		</article>
		{{/each}}
	</div>
	<div class="row">
		<div class="iop-filter__results-number-container col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="iop-filter__results-number"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<button id="sort-by-date" class="btn">Sort by date</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 iop-filter__reset-btn-container">
			<button class="iop-filter__reset-btn btn">Reset Filters</button>
		</div>
	</div>
</div>
<div id="cards-generic-wrapper">

</div>
<!-- END Ohio Design / Content / Component Templates / Agencies / OPD / multiple-filters-template.hbs.html -->