<div class="iop-filter__first-section-container">
	<div class="iop-filter__title-container">
		<div>{{ getMultilingualLabelByWCMKey ./Filter }}</div>
		<span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
	</div>
	<div class="row iop-filter__input-container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-sm">
			<label for="iop-input-search" class="sr-only">{{ getMultilingualLabelByWCMKey ./Filter }}</label>
			<input id="iop-input-search" class="iop-filter__input-filter" type="text" placeholder="{{ getMultilingualLabelByWCMKey ./InputPlaceholder }}">
			<button class="iop-filter__input-filter-btn btn btn-primary">{{ getMultilingualLabelByWCMKey ./Filter }}</button>
		</div>
	</div>
</div>
<div class="iop-filter__second-section-container">
	<div class="iop-filter__categories-title">{{ getMultilingualLabelByWCMKey ./Filter }}</div>
	<div id="iop-filter-filters-container" class="row margin-bottom-sm">

		<!--<article id="{{ getMultilingualLabelByWCMKey ./allLabelTopics }}"
		         class="ohio-select2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<label for="js-select-topics">{{ getMultilingualLabelByWCMKey ./labelTopics }}</label>
			<select multiple="multiple" id="js-select-topics">
				<option value="all" selected="selected">{{ getMultilingualLabelByWCMKey ./allLabelTopics }}</option>
				{{#each categoriesTopics}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</article>-->

		<!--<article id="{{ getMultilingualLabelByWCMKey ./allLabelCounties }}"
				  class="ohio-select2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<label for="js-select-counties">{{ getMultilingualLabelByWCMKey ./labelCounties }}</label>
			<select multiple="multiple" id="js-select-counties">
				<option value="all" selected="selected">{{ getMultilingualLabelByWCMKey ./allLabelCounties }}</option>
				{{#each categoriesCounties}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</article>-->

	</div>

	<div class="row">
		<div class="iop-filter__results-number-container col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="iop-filter__results-number">{{ getMultilingualLabelByWCMKey ./FilterShowing }} {{ getMultilingualLabelByWCMKey ./Results }}</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 iop-filter__reset-btn-container">
			<button class="iop-filter__reset-btn btn">{{ getMultilingualLabelByWCMKey ./ResetFilters }}</button>
		</div>
	</div>
</div>


<div id="iop-filter-cards-container" class="list-unstyled odx-topic__cards row margin-top-md js-common-card-wrapper">
	{{#each items}}
	{{#if index}}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3 class="ohio-odx-alpha-directory__group-title">{{index}}</h3>
	</div>
	{{/if}}
	<div class="iop-filter__item iop-filter__item--visible col-xs-12 col-sm-12 col-md-6 col-lg-6"
	     data-name="{{decode name}}">
		<div class="ohio-card ohio-card--center ohio-card-container">
			<div class="opd-card-locations-title">
				<h3 class="ohio-card-content-header">{{decode name}}</h3>
			</div>
			<div class="opd-card-locations-external-resources">
				{{{externalResources}}}
			</div>
		</div>

	</div>
	{{/each}}
	<div class="js-no-results-img odx-events__img-no-results" style="display: none;">
		<img src="{{{noResultsImgPath}}}" alt="{{ getMultilingualLabelByWCMKey ./NoResultsText }}">
		<p class="odx-card-no-result__message odx-bold">{{ getMultilingualLabelByWCMKey ./NoResultsText }}</p>
	</div>
</div>

<div class="odx-topic-hub-resources__pagination">
	<ul id="js-events-search-pagination--gov"
	    class="odx-events__search-pagination odx-topic-hub-filter__pagination pagination-sm"></ul>
</div>