/* START - Libraries>ODX Common Design>Content>Utility>Style Sheets>SCSS>Agencies>Medicaid>medicaid-custom-styles.scss */

/* COLOR PALLETE */
/*$color-primary-main: #009969 !default; */ // white
$color-secondary-main: #3D7AA9 !default;  // blue
$color-secondary-dark: #104E7E !default; // dark blue

$color-primary-gradient: #0163B0 !default; // dark blue
$color-secondary-gradient: #4AA4EB !default; // light blue

$color-white: #FFFFFF;
$color-black: #000000;

$titles-color: #525051;
$input-color-light: #5C5C5C;
$input-color: #4A4A4A;
$standard-links-color: #3D7AA9;

$containers-background: #f2f2f2;
$light-containers-background: #EBF6FF;
$borders-color: #d8d8d8;

.hide-image-caption .odx-content__image-caption{
	display: none;
}

.content-body .odx-no-margin-bottom .margin-bottom-md{
	margin-bottom: 0;
}

/* START: Titles */
body .content-body .odx-content__title,
body .content-body h2,
body .content-body h1{
	color: $titles-color;
	font-weight: 600;
}
body .content-body a,
body .content-body a:hover,
body .content-body a:visited,
body .content-body a:active,
body .content-body a:focus{
	color: $standard-links-color;
}
/* END: Titles */

/* START: Buttons */
.btn-default,
.btn-default:hover,
.btn-default:visited,
.btn-default:active,
.btn-default:focus,
.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus{
	background-color: $color-secondary-main;
	border-color: $color-secondary-main;
	color: $color-white;
}

.btn.btn-primary, .btn.btn-default{
	padding: 10px 10px 5px;
}

body .content-body a.odx-view-more:visited,
body .content-body a.odx-view-more:hover,
body .content-body a.odx-view-more:active,
body .content-body a.odx-view-more:focus{
	font-weight: bold;
}

a.btn-primary,
a.btn-primary:visited,
a.btn-primary:hover,
a.btn-primary:active,
a.btn-default,
a.btn-default:visited,
a.btn-default:hover,
a.btn-default:active {
	color: $color-white !important;
}
/* END: Buttons */

/* START: Collapsible sections*/
.secondLevelSection [class*="sectionHeader"].opened,
.secondLevelSection [class*="sectionHeader"].closed {
	border-bottom: none;
}
/* END: Collapsible sections*/

/* START: Breadcrumb */
.content-body .b-breadcrumb li:first-child > a,
.content-body .b-breadcrumb li + li:before,
.content-body .b-breadcrumb a,
.content-body .b-breadcrumb a:visited,
.content-body .b-breadcrumb a:hover,
.content-body .b-breadcrumb a:active,
.content-body .b-breadcrumb a:focus{
	color: $color-secondary-main;
}
.b-breadcrumb li.current{
	font-weight: bold;
	color: $titles-color;
}
/* END: Breadcrumb */

/* START: Footer */
a.odx-external-link__button.btn-block.btn.btn-primary {
	background-color: $color-secondary-main;
}

.odx-section-resources-cards-list__wrapper {
	margin-bottom: 10px;
}

div#odx-social-network {
	text-align: right;
}

.odx-no-margin-bottom .odx-single-ads__item.margin-bottom-sm {
	margin-bottom: 0px;
}

.container-fluid.odx-footer__container {
	background-color: $color-secondary-dark;
	height: fit-content !important;
}

a.js-odx-secondary-footer__item {
	font-size: .8rem;
}

.footer-bar__logo {
	text-align: center;
}

body .content-body {
	#footer-subscribe-button {
		background-color: $color-secondary-dark;
		color: $color-white;
	}
	.wpthemeControlBody {
		overflow: hidden;
	}
	.odx-footer-navigation--cluster-list {
		padding: 3% 10% 3% 13%;
	}
	.single-column-footer {
		overflow: hidden;
		background-color: transparent;
		border-top: none;
		color: white;
		position: relative;
	}
	.container-fluid.footer-container::before {
		display: block;
		border-top-left-radius: 65%;
		border-top-right-radius: 65%;
		max-height: 500px;
		background-color: $color-secondary-main;
		position: absolute;
		left: -70%;
		right: -20%;
		width: 250%;
		height: 250vw;
		bottom: 60px;
	}
	.odx-footer-navigation--cluster-list {
		text-align: center;
	}
	.ohio-footer-navigation .odx-footer-navigation__main-item {
		text-align: left;
		margin-bottom: 20px;
		margin-left: 10%;
	}
	.odx-footer-navigation__main-item a.ohio-footer-navigation__title {
		font-size: 18px;
	}
	.subscribe-wrapper {
		max-width: 384px;
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-top: 70px;
		.subscribe-text {
			margin-bottom: 20px;
		}
		i {
			font-size: 3.5rem;
		}
		p {
			color: $color-white;
			font-size: 1.1rem;
			line-height: 1.4;
			margin: 0;
			padding: 0;
		}
		label {
			width: 100%;
			text-align: left;
		}
		input {
			display: inline-block;
			width: 65%;
			height: 40px;
		}
		input::placeholder {
			font-size: 0.8rem;
			color: $input-color-light;
			font-weight: 200;
			text-align: left;
		}
		.btn {
			margin-top: 0;
			display: inline-block;
			width: 34%;
			height: 40px;
			border-radius: 0 5px 5px 0;
			margin-left: -5px
		}
		.subscribe-info .subscribe-alert {
			color: $color-white;
			font-size: 1.2rem;
			line-height: 1.4;
			padding: 0;
			font-weight: 700;
		}
	}
	.ohio-footer-navigation span.odx-footer-address {
		opacity: 0.8;
	}
	.odx_secondary-footer {
		background-color: $color-secondary-dark;
	}
	@media(max-width: 1440px) {
		.ohio-footer-navigation .odx-footer-navigation__main-item {
			margin-left: 0%;
		}
	}
	@media (max-width: 1200px) {
		.odx_secondary-footer {
			text-align: center;
		}
	}
	@media(max-width: 1024px) {
		.ohio-footer-navigation .odx-footer-navigation__main-item {
			margin-left: -10%;
		}
	}
	@media (max-width: 991px) {
		.footer-bar__logo.margin-top-sm {
			margin-top: 35px;
		}
		li.social-icon {
			margin-top: 15px;
		}
		.odx_secondary-footer img {
			padding-top: 4%;
		}
		.footer-bar__logo {
			text-align: center;
		}
	}
	@media (min-width: 768px) and (max-width: 992px) {
		a.js-odx-secondary-footer__item {
			font-size: .7rem;
		}
		.odx_secondary-footer {
			height: 320px;
		}
		.odx_secondary-footer ul {
			text-align: center;
		}
	}
	@media (min-width: 768px) {
		.subscribe-wrapper {
			max-width: 725px;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
		.container-fluid.footer-container {
			padding-top: 40px;
		}
		.subscribe-wrapper {
			.subscribe-text {
				padding: 0 20px;
				margin-top: 20px;
			}
			label {
				text-align: center;
			}
			.btn {
				border-radius: 5px;
			}
		}
		.odx-footer-navigation__main-item {
			padding: 0;
		}
		.odx_secondary-footer {
			height: auto;
			min-height: 60px;
			overflow: auto;
			ul {
				text-align: left;
			}
			.footer-bar__social-icons ul {
				text-align: right;
			}
		}
		.footer-bar__logo {
			margin-top: 10px;
		}
		.odx-footer-navigation__main-item a.ohio-footer-navigation__title,
		.ohio-footer-navigation span.odx-footer-address {
			font-size: calc(12px + 4 * ((100vw - 768px) / 1536));
		}
	}
	@media (max-width: 767px) {
		.ohio-footer-navigation .odx-footer-navigation__main-item {
			margin-left: 0;
		}
		.container-fluid.footer-container::before {
			bottom: 150px;
			max-height: 750px;
		}
		.odx-footer-navigation__main-item a.ohio-footer-navigation__title {
			font-size: 14px;
		}
		.ohio-footer-navigation span.odx-footer-address {
			display: none;
		}
		.odx-footer-navigation--cluster-list {
			padding-top: 30px;
		}
		.odx_secondary-footer {
			text-align: center;
			height: 150px;
		}
		.odx-secondary-footer__default-nav {
			padding: 10px !important;
			padding-bottom: 0px !important;
		}
		li.social-icon {
			margin-top: 0;
		}
		li.odx-secondary-footer__default-nav {
			padding: 20px 5px 0 5px;
		}
		li.odx-secondary-footer__default-nav a {
			font-size: .6rem;
		}
		.odx-footer-navigation--cluster-list {
			padding: 3% 5% 3% 15%;
		}
	}
}
/* END: Footer */

/* START: Left Nav */
.odx-icon-wrapper{
	border-radius: 0;
}

.aw-left-nav__icon div.odx-navigation{
	border: none;
}
.aw-left-nav__icon .aw-left-nav__icon-text{
	font-weight: bold;
	color: $color-secondary-main;
}
body .content-body .aw-left-nav li.active a.left-navigation__link,
body .content-body .aw-left-nav li.active a.left-navigation__link:hover,
body .content-body .aw-left-nav li.active a.left-navigation__link:visited,
body .content-body .aw-left-nav li.active a.left-navigation__link:active,
body .content-body .aw-left-nav li.active a.left-navigation__link:focus {
	color: $color-secondary-main;
	border-color: $color-secondary-main;
}
.odx-navigation--left li.active {
	border-color: $color-secondary-main;
}
/* END: Left Nav */

/* START: Paginator */
.content-body span.odx-pagination.current.inactive,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
	background-color: $color-secondary-main;
	border-color: $color-secondary-main;
}
/* END: Paginator */

/* START: Events */
.odx-events__search-input{
	border-color: $color-secondary-main;
}
.odx-events__item-date{
	background-color: $color-secondary-main;
}
.odx-events__item-duration {
	margin-top: 5px;
}
.odx-events__item-categories {
	display: none
}
.odx-events__item-left-search {
	padding-top: 0px;
}
/* END: Events */

/* START: Header */
#aw-header-navigation ul {
	height: 110px;
}
#aw-header-navigation ul li {
	height: 80px;
}
#aw-header-navigation ul li.current,
#aw-header-navigation ul li:hover,
#aw-header-navigation ul li:active,
#aw-header-navigation ul li:focus {
	border-bottom: 6px solid white;
}
#aw-header-navigation ul li a{
	color: white;
	height: fit-content;
}
#aw-header-navigation ul li.current a,
#aw-header-navigation ul li a:hover,
#aw-header-navigation ul li a:active,
#aw-header-navigation ul li a:focus {
	color: white;
	border-bottom: none;
}

.odx-separator {
	min-height: 49px;
	width: 1px;
	background-color: white;
	float: left;
	margin-right: 20px;
}
.odx-search__close{
	position: relative;
	font-size: 0.75em;
	padding: 8px 0 0 8px;
}
.odx-search__loop-btn{
	font-size: 0.75em;
	padding: 8px 0;
}

@media screen and (max-width: 767px) {
	.odx-ads-container .odx-ads-item--full-width-image:last-child {
		margin-bottom: 15px;
	}
	#aw-header-navigation ul li.current a, #aw-header-navigation ul li a {
		color: #FFFFFF;
		border-bottom: none;
	}
	#aw-header-navigation {
		height: 425px;
	}
	#aw-header-navigation ul li.current a,
	#aw-header-navigation ul li a:hover,
	#aw-header-navigation ul li a:active,
	#aw-header-navigation ul li a:focus {
		color: white;
		border-bottom: none;
	}
	#aw-header-navigation ul li,
	#aw-header-navigation ul li.current{
		height: auto;
		border-bottom: none;
	}
	#main-nav-container .awesome-navigator.main-nav-list .current div.odx-page-description {
		color: black;
	}
	.odx-mobile-nav__icon-button, #aw-header-navigation, nav a#button-collapse-navigator, nav div#button-collapse-navigator {
		background-color: $color-secondary-main;
	}
	#aw-header-bottom-right .odx-header-bottom-right{
		padding: 30px 25px 0;
	}
	.aw-header-bottom #aw-header-bottom-right {
		background: $color-secondary-main;
	}
	#aw-header-bottom-right .odx-search.odx-search_slide {
		background: $color-secondary-main;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#aw-header-bottom-right {
		background-color: $color-secondary-main;
	}

	#aw-header-bottom-right .odx-search.odx-search_slide {
		background: $color-secondary-main;
	}
}

@media screen and (min-width: 992px) {
	#aw-header-bottom-left div.odx-logo-wrapper img{
		max-height: 65px;
		margin-top: 20px;
		padding: 0;
	}
	.sticky-header #aw-header-bottom-left div.odx-logo-wrapper img {
		height: 55px;
		padding: 0;
		margin-top: 0;
	}
}

@media screen and (min-width: 1200px){
	#aw-header-navigation ul{
		padding-left: 100px;
	}
	#aw-header-bottom-left div.odx-logo-wrapper img {
		max-height: 80px;
		margin-top: 12px;
		padding: 0;
		max-width: 250px;
	}

	#aw-header-navigation ul li {
		position: relative;
		left: -1%;
	}
	#aw-header-navigation ul li a {
		padding: 37px 10px 0;
		margin: 0px;
		font-size: 0.85em;
		max-width: 1000px;
	}

	#aw-header-bottom-right  #authoringlink {
		padding: 0px;
		margin: 0px;
	}
}

#aw-header-bottom-left,
.odx-header-bottom-right,
.odx-search,
.odx-search__container {
	background-color: $color-secondary-main;
}

#aw-header-bottom-right .icon-description{
	color: white;
}

#aw-header-bottom-right a {
	height: inherit;
	text-decoration: none;
}

.odx-header-bottom-right {
	background-color: $color-secondary-main;
}

.sticky-header > .odx-header-bottom-right {
	padding: 5px 30px 0px 0px;
}

@media screen and (max-width: 991px){
	.odx-header-bottom-right {
		padding: 28px 25px 0;
	}
	.sticky-header > .odx-header-bottom-right {
		padding: 5px 20px 0px 20px;
	}
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.odx-header-bottom-right {
		font-size: 0.75em;
		left: 0px;
		padding: 30px 5px 0 35px;
	}
}
#aw-main-wrapper .navigation {
	background: $color-secondary-main;
}

#aw-header-bottom-right .fa {
	color: white;
}

#aw-header-bottom-right .far {
	color: white;
}

#aw-header-bottom-right .odx-search__btn .fas{
	color: white;
}

/* END: Header */
/* START - Header nav */

#aw-header-bottom-right #authoringlink {
	display: none;
}

@media screen and (max-width: 525px){
	#aw-header-bottom-right{
		width: 180px;

		.odx-search__btn{
			padding: 10px 0 0 10px;
		}
	}
	#aw-header-bottom-left div.odx-logo-wrapper{
		margin: 30px auto 25px;
	}
	#aw-header-bottom-left div.odx-logo-wrapper img{
		height: 50px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	#aw-header-navigation ul {
		height: 110px;
	}
	#aw-header-navigation ul li {
		height: 110px;
	}
	#aw-header-navigation ul li a,
	.sticky-header #aw-header-navigation ul li a {
		padding: 30px 30px 0 0;
		font-size: 1.15em;
	}
	#aw-header-navigation .odx-page-description{
		font-size: 1em;
	}
	#aw-header-navigation ul li.current,
	#aw-header-navigation ul li:hover,
	#aw-header-navigation ul li:active,
	#aw-header-navigation ul li:focus {
		border-bottom: none;
	}

}

@media (max-width: 1199px) and (min-width: 992px) {
	#aw-header-navigation ul {
		display: table;
	}
	#aw-header-navigation ul li {
		height: 110px;
		display: inline-block;
	}
	#aw-header-navigation ul li a {
		padding: 0px 10px;
		font-size: 0.75em;
		max-width: 120px;
		vertical-align: middle;
		display: table-cell;
		height: inherit;
	}
	#aw-header-navigation ul li .odx-page-description {
		font-size: 1.15em;
	}
}

@media (max-width: 1199px) {
	#aw-header-bottom-right #authoringlink {
		display: none;
	}
}

@media (min-width: 992px) {
	.odx-search {
		top: 10px;
		padding: 20px 0 30px 0;
	}
	.odx-search_slide.in {
		width: calc(100% - 150px);
	}
	.sticky-header .odx-search {
		top: 0px;
		padding: 15px 0;
	}
	.sticky-header .odx-header-bottom-right {
		padding: 15px 20px 10px;
		font-size: 0.75em;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.sticky-header #aw-header-navigation .odx-page-description {
		font-size: 1.15em;
	}
	.sticky-header #aw-header-navigation ul {
		max-width: none;
		display: inherit;
		height: 75px;
		display: inline-block;
	}
	.sticky-header #aw-header-navigation ul li {
		max-width: none;
		height: 75px;
		display: inline-block;
	}
	.sticky-header #aw-header-navigation ul li a {
		padding: 0px 12px 0px 12px;
	}
}

@media (min-width: 1200px) {

	#aw-header-navigation ul li .odx-page-description {
		font-size: 1.25em;
		line-height: 1.15em;
	}
	.sticky-header #aw-header-navigation ul {
		position: relative;
		left: -2%;
		max-width: fit-content;
		height: 60px;
	}
	.sticky-header #aw-header-navigation ul li {
		height: 74px;
	}
	.sticky-header #aw-header-navigation ul li a {
		padding: 20px 15px;
	}
}
/* END - Header nav */

/* START - left nav image */
@media screen and (min-width: 992px) {
	.aw-left-nav__icon div.odx-navigation{
		width: 100px;
		height: auto;
		border-radius: 0;
		margin: 20px;
		padding: 4px 4px 5px 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.aw-left-nav{
		z-index: 998;
		top: -108px;
	}
	.aw-left-nav__icon div.odx-navigation{
		width: 45px;
		height: 45px;
		margin: 2px 10px 0px;
		padding: 0px;
	}
}

@media screen and (max-width: 767px) {
	.layout-odx-single-column-with-bottom-sidebar-and-left-nav-current-context,
	.layout-odx-single-column-with-bottom-sidebar-and-left-nav-parent-context {
		.odx-content--landing-page {
			margin-top: 55px;
			.aw-left-nav{
				top: -55px;
				left: -10px;
			}
		}
	}

	.odx-content--resource,
	.odx-content--news,
	.odx-content--event {
		margin-top: 75px;
	}
	.aw-left-nav{
		z-index: 998;
	}
	.aw-left-nav__icon div.odx-navigation{
		width: 45px;
		height: 45px;
		margin: 2px 10px 0px;
		padding: 0px;
	}
}

.aw-left-nav__icon img.odx-icon{
	margin: 0 auto;
	border-radius: 0;
	background-size: contain;
	width: 100px;
	height: auto;
	background-position: bottom;
	bottom: 0;
	background-repeat: no-repeat;
}
/* END - left nav image */


/* START: Ads */
@media (max-width: 767px) {
	.odx-ads-container .odx-ads-item .odx-ads-item__summary {
		display: block;
		-webkit-text-size-adjust: none;
	}
}

.odx-ads-container .odx-ads-item.odx-ads-item-small{
	height: 120px;
	.odx-ads-item__image{
		height: 120px;
		width: 120px;
	}
	.odx-ads-item__content{
		padding: 10px;
		width: calc(100% - 120px);
	}
	.odx-ads-item__summary{
		max-height: 40px;
		margin-top: 7px;
	}
	.odx-ads-item__summary:after{
		top: 1em;
	}
}

@media (max-width: 992px) {
	.odx-ads-container .odx-ads-item.odx-ads-item-small .odx-ads-item__content{
		width: 100%;
	}
}
@media (max-width: 767px) {
	.odx-ads-container .odx-ads-item.odx-ads-item-small{
		height: auto;
	}
}

.content-body .odx-ads-with-icon__title{
	padding-right: 10px;
}

body .content-body .odx-background-color-primary-additional {
	background-color: $color-secondary-main;
}
.b-all-width-background--primary-additional::before,
.b-all-width-background--primary-additional::after{
	background: $color-secondary-main;
}
.odx-ads-container .odx-ads-item--full-width-image{
	height: auto;
	max-width: 450px;
}
.odx-ads-container .odx-ads-item--full-width-image img{
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 165px;
}
.odx-ads-container.odi-home-vertical-ads .odx-ads-item--full-width-image img{
	height: 130px;
}
.odx-ads-item{
	background-color: $color-white;
	border-radius: 4px;
	border: 1px solid $borders-color;
	overflow: hidden;
	position: relative;
	max-width: 450px;
	margin: 0 auto 16px auto;
	height: 165px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.odx-ads-container .odx-ads-item .odx-ads-item__image{
	width: 110px;
	height: 165px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.odx-ads-container .odx-ads-item .odx-ads-item__link{
	text-decoration: none;
}
.odx-ads-container .odx-ads-item .odx-ads-item__content{
	width: calc(100% - 110px);
	padding: 16px;
	overflow: hidden;
	float: left;
	height: 100%;
}
.odx-ads-container .odx-ads-item .odx-ads-item__content .odx-ads-item__main{
	overflow: hidden;
	height: 100%;
	user-select: none;
}
.odx-ads-container .odx-ads-item .odx-ads-item__title{
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	line-height: 24px;
	max-height: 48px;
	width: calc(100% + 20em);
	color: $input-color;
	position: relative;
	overflow: hidden;
}
.odx-ads-container .odx-ads-item .odx-ads-item__summary{
	color: $input-color;
	font-size: 14px;
	line-height: 22px;
	width: calc(100% + 20em);
	max-height: 6em;
	position: relative;
	margin: 0;
	overflow: hidden;
}
.odx-ads-container .odx-ads-item .odx-ads-item__title:before{
	content: '';
	display: inline-block;
	width: 20em;
	height: 3em;
	float: right;
}
.odx-ads-container .odx-ads-item .odx-ads-item__summary:before{
	content: '';
	display: inline-block;
	width: 20em;
	height: 4em;
	float: right;
}
.odx-ads-container .odx-ads-item .odx-ads-item__title:after{
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, #fff);
	bottom: 0;
	content: "";
	position: absolute;
	right: 20em;
	top: 24px;
	width: 4rem;
}
.odx-ads-container .odx-ads-item .odx-ads-item__summary:after{
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, #fff);
	bottom: 0;
	content: "";
	position: absolute;
	right: 20em;
	top: 5em;
	width: 5rem;
}
/* END: Ads */
/* START: Ads */
.b-all-width-background {
	margin-left: -800px;
	margin-right: -800px;
}

.b-all-width-background .odx-ads__item-link {
	padding-left: 800px;
	padding-right: 800px;
}

.odx-ad-content-highlighted {
	background: linear-gradient(to right, $color-primary-gradient 20%, $color-secondary-gradient 100%);
	color: white;
	font-style: italic;
}

.b-all-width-background {
	position: relative;

	&--highlighted {
		&::after {
			background: linear-gradient(to bottom,
				$color-primary-gradient 20%, $color-secondary-gradient 100%);
			height: 100%;
			position: absolute;
			top: 0;
			width: 100vw;
			right: 100%;
			z-index: 0;
			content: "";
		}
		&::before {
			background: linear-gradient(to bottom,
				$color-primary-gradient 20%, $color-secondary-gradient 100%);
			height: 100%;
			position: absolute;
			top: 0;
			width: 100vw;
			left: 100%;
			content: "";
			z-index: 0;
		}
	}
}

.odx-ads-photo-circles__container .odx-single-ads__photo-img {
	width: 110px;
	height: 110px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	left: 120px;
	top: 20px;
	border-radius: 50%;
}

.odx-ads-photo-circles__container .odx-single-ads__borders-img {
	width: 350px;
	height: 185px;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	left: 0;
	background-position: 0 -101px;
}

.odx-ads-photo-circles__container .odx-single-ads__text-img {
	width: 150px;
	color: white;
	position: absolute;
	top: 145px;
	text-align: center;
	left: 100px;
	vertical-align: bottom;
	line-height: 1.25em;
	font-size: 14px;
	display: inline-block;
	font-style: normal;
	text-transform: uppercase;
}

.odx-ads-photo-circles__container .odx-single-ads__text-img span {
	display: inline-block;
	text-transform: none;
}

.odx-ads-photo-circles__container .odx-ad-content-highlighted {
	height: 185px;
}

.odx-ads-photo-circles__container .odx-single-ads__item-summary-container {
	position: relative;
	height: 185px;
	display: table;
}

.odx-ads-photo-circles__container .odx-single-ads__item-summary {
	color: white;
	padding: 0;
	vertical-align: middle;
	display: table-cell;
	font-size: 1.25em;
	line-height: 1.5em;
}

.odx-ads-photo-circles__container .odx-single-ads__item-summary-text {
	border-left: 5px solid white;
	padding: 0 0 0 20px;
	max-height: 145px;
	overflow: hidden;
}

.odx-ads-photo-circles__container .odx-single-ads__item-title-text {
	font-weight: 600;
	text-align: right;
}

@media screen and (max-width: 767px) {
	.odx-ads-photo-circles__container .odx-single-ads__item-img-container {
		display: none;
	}

	.odx-ads-photo-circles__container .odx-ad-content-highlighted {
		height: auto;
		padding: 20px 0;
	}

	.odx-ads-photo-circles__container .odx-single-ads__item-summary-container {
		height: auto;
	}

	.odx-ads-photo-circles__container .odx-single-ads__item-summary-text {
		max-height: none;
	}
}

.odx-ads-container .odx-ads-item .odx-ads-item__title {
	-webkit-text-size-adjust: none;
}

.odx-content__image--footer-second-row{
	line-height: 1em;
}

@media screen and (max-width: 991px) {
	.odx-ads-container .odx-ads-item .odx-ads-item__content {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.odx-ads-container .odx-ads-item .odx-ads-item__content {
		padding: 14px;
	}
}
/* ==== START: Ads ==== */
@media (max-width: 767px) {
	.odx-ads-container .odx-ads-item .odx-ads-item__summary {
		display: block;
		-webkit-text-size-adjust: none;
	}
}

.odx-ads-container .odx-ads-item.odx-ads-item-small {
	height: 120px;

	.odx-ads-item__image {
		height: 120px;
		width: 120px;
	}

	.odx-ads-item__content {
		padding: 10px;
		width: calc(100% - 120px);
	}

	.odx-ads-item__summary {
		max-height: 40px;
		margin-top: 7px;
	}

	.odx-ads-item__summary:after {
		top: 1em;
	}
}

@media (max-width: 992px) {
	.odx-ads-container .odx-ads-item.odx-ads-item-small .odx-ads-item__content {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.odx-ads-container .odx-ads-item.odx-ads-item-small {
		height: auto;
	}
}

.content-body .odx-ads-with-icon__title {
	padding-right: 10px;
}

body .content-body .odx-background-color-primary-additional {
	background-color: $color-secondary-main;
}

.odx-ads-container .odx-ads-item--full-width-image {
	height: auto;
	max-width: 450px;
}

.odx-ads-container .odx-ads-item--full-width-image img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 165px;
}

.odx-ads-container.odi-home-vertical-ads .odx-ads-item--full-width-image img {
	height: 130px;
}

.odx-ads-item {
	background-color: $color-white;
	border-radius: 4px;
	border: 1px solid $borders-color;
	overflow: hidden;
	position: relative;
	max-width: 450px;
	margin: 0 auto 16px auto;
	height: 165px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.odx-ads-container .odx-ads-item .odx-ads-item__link {
	text-decoration: none;
}

.odx-ads-container .odx-ads-item .odx-ads-item__content .odx-ads-item__main {
	overflow: hidden;
	height: 100%;
	user-select: none;
}

.odx-ads-container .odx-ads-item .odx-ads-item__summary {
	color: $input-color;
	font-size: 14px;
	line-height: 22px;
	width: calc(100% + 20em);
	max-height: 6em;
	position: relative;
	margin: 0;
	overflow: hidden;
}

.odx-ads-container .odx-ads-item .odx-ads-item__title:before {
	content: '';
	display: inline-block;
	width: 20em;
	height: 3em;
	float: right;
}

.odx-ads-container .odx-ads-item .odx-ads-item__summary:before {
	content: '';
	display: inline-block;
	width: 20em;
	height: 4em;
	float: right;
}

.odx-ads-container .odx-ads-item .odx-ads-item__title:after {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, #fff);
	bottom: 0;
	content: "";
	position: absolute;
	right: 20em;
	top: 24px;
	width: 4rem;
}

.odx-ads-container .odx-ads-item .odx-ads-item__summary:after {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, #fff);
	bottom: 0;
	content: "";
	position: absolute;
	right: 20em;
	top: 5em;
	width: 5rem;
}

.odx-content__image--footer-second-row {
	line-height: 1em;
}

.odx-ads-container--vertical .odx-ads-item {
	height: 115px;
	border-bottom: none;
}

.odx-ads-container .odx-ads-item .odx-ads-item__image {
	height: 115px;
	width: 115px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.odx-ads-container .odx-ads-item .odx-ads-item__content {
	padding: 12px 10px 10px;
	width: calc(100% - 115px);
	overflow: hidden;
	float: left;
	height: 100%;
}

.odx-ads-container .odx-ads-item .odx-ads-item__title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	line-height: 24px;
	max-height: 48px;
	width: calc(100% + 20em);
	color: $input-color;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.odx-ads-container .odx-ads-item .odx-ads-item__content {
		padding: 14px;
		width: calc(100% - 115px);
	}

	.odx-ads-container .odx-ads-item .odx-ads-item__title:before {
		content: none;
	}

	.odx-ads-container .odx-ads-item .odx-ads-item__summary {
		display: none;
	}

	.odx-ads-container .odx-ads-item .odx-ads-item__title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-height: none;
		width: 100%;
	}

	.odx-ads-container .odx-ads-item .odx-ads-item__content .odx-ads-item__main {
		position: relative;
	}
}

/* ==== END: Ads ==== */
/* END: Ads */

/* === START: Top Alert ===*/
.odx-site-alert{
	background-color: $color-secondary-main;
	color: white;
	padding: 1rem 0;
	z-index: 1;
}
.odx-site-alert__icon{
	margin-right: 0.5rem;
	vertical-align: bottom;
}
.odx-site-alert .odx-site-alert__label{
	color: white;
}
body .content-body a.odx-site-alert__view-more,
body .content-body a.odx-site-alert__view-more:hover,
body .content-body a.odx-site-alert__view-more:visited,
body .content-body a.odx-site-alert__view-more:active,
body .content-body a.odx-site-alert__view-more:focus{
	color: white;
	padding-left: 10px;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.fa.odx-site-alert__icon{
		display: inline;
		font-size: 1.5em;
		vertical-align: top;
	}
	.odx-site-alert .odx-site-alert__label{
		display: inline;
	}
	body .content-body a.odx-site-alert__view-more,
	body .content-body a.odx-site-alert__view-more:hover,
	body .content-body a.odx-site-alert__view-more:visited,
	body .content-body a.odx-site-alert__view-more:active,
	body .content-body a.odx-site-alert__view-more:focus{
		padding-left: 0;
		right: 0;
	}
}
/* === END: Top Alert ===*/

/* ==== START: Site Map ===== */
.ohio-site-map-desktop .ohio-site-map-desktop__grid-item .ohio-site-map-desktop__site-container .ohio-site-map-desktop__img{
	background-size: auto;
}
/* ==== END: Site Map ===== */

/* ==== START: News Small Items ==== */
.odx-news-small__main-container .odx-ohio-news{
	height: 75px;
	min-height: unset;
	margin-bottom: 17px;
}
.odx-news-small__main-container .odx-news__title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.7em;
	display: block;
}
.odx-news-small__main-container .odx-news__summary{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 2em;
}
/* ==== END: News Small Items ==== */

/*=== START: links bullets ODX Body ===*/
.odx-content__body ul a {
	display: inline;
}
/*=== END: links bullets ODX Body ===*/

/*=== START: Table of Contents ===*/
@media screen and (max-width: 767px) {
	.odx-content__body .tableOfContents{
		width: 100%;
	}
}
/*=== END: Table of Contents ===*/

/* ==== START font-family override ==== */
body .content-body h2.odx-bold {
	font-family: 'Source Sans Pro';
}

body .content-body h2,
body .content-body h3 {
	font-family: 'Source Sans Pro';
}

body .content-body .odx-content__title {
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

.odx-product-featured-resources__resource .odx-product-featured-resources__title {
	font-family: "Source Sans Pro", Tahoma, Verdana, Segoe, sans-serif;
}

body .content-body .b-intro-banner * {
	font-family: "Source Sans Pro", Tahoma, Verdana, Segoe, sans-serif;
}

body .content-body .b-row-of-ads-item__title {
	font-family: "Source Sans Pro", Tahoma, Verdana, Segoe, sans-serif;
}

body .content-body .b-highlighted-ad__title {
	font-family: "Source Sans Pro", Tahoma, Verdana, Segoe, sans-serif;
}

body .content-body h1 {
	font-family: "Source Sans Pro", Tahoma, Verdana, Segoe, sans-serif;
}

/* ==== END font-family override ==== */

/*Breakpoints Template*/
// Large Devices (Large Desktop)
@media screen and (min-width: 1200px) {

}

// Medium Devices (Laptop)
@media screen and (min-width: 992px) {

}

// Small Devices (Tablet)
@media screen and (min-width: 768px) {

}

// Extra Small Devices (Phone)
@media screen and (max-width: 768px) {

}

/* END - Libraries>ODX Common Design>Content>Utility>Style Sheets>SCSS>Agencies>medicaid>medicaid-custom-styles.scss */